{
    "extends": ["wesbos"],
    "rules": {
        "no-console": "off",
        "no-use-before-define": "off",
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 100,
                "tabWidth": 4
            }
        ]
    }
}
